<div class="container mb-3">
  <h1><%= @flat.name %></h1>
  <%= link_to "Home", flats_path %>
  <%= link_to "Edit", edit_flat_path(@flat) %>
  <hr>
  <p>£<%= @flat.cost_per_night %>0 per night</p>
  <p><%= @flat.summary %></p>
  <hr>
  <p><%= @flat.description %></p>
  <p><%= @flat.address %></p>
  <hr>
  <ul>
    <li>Bedrooms: <%= @flat.bedrooms %> </li>
    <li>Beds: <%= @flat.beds %> </li>
    <li>Bathrooms: <%= @flat.bathrooms %> </li>
    <li>Guests: <%= @flat.guests %> </li>
  </ul>
  <hr>
  <div class="container">
    <h3>Bookings</h3>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit 'Save' %>
      <% end %>
  </div>
  <hr>
  <div class="container">
    <h3>Reviews</h3>
    <p><%= link_to "Write a review", new_flat_review_path(@flat) %></p>
    <% if @flat.reviews.empty? %>
      <p>No reviews yet</p>
    <% else %>
      <% @flat.reviews.each do |review| %>
        <div class="card p-2">
          <p><%= review.comment %></p>
          <p><%= review.rating %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
