<div class="row mt-3">
  <% guitars.each do |guitar| %>
    <%= link_to guitar_path(guitar), class: "col-md-4 col-sm-6 col-12" do %>

      <div class="g-card selected">
        <div class="g-card-image">
          <% if guitar.photos.attached? %>
            <%= cl_image_tag guitar.photos.first.key, loading: "lazy" %>
          <% else %>
            <p>no img available</p>
          <% end %>
        </div>
        <div class="g-txtbox">
          <h6 class="g-card-name"><%= truncate(guitar.name, length: 27, seperator: ' ') %></h6>
          <p class="g-card-rating"><%= guitar.average_rating %></p>
          <p class="g-card-type"><%= guitar.guitar_type %></p>
          <p class="g-card-price">£<%= guitar.cost_per_day %> per night</p>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
