<div class="container">
  <h1>Edit Guitar</h1>
   <%= simple_form_for @guitar do |f| %>
    <%= f.input :name%>
    <%= f.input :address %>
    <%= f.input :summary %>
    <%= f.input :description %>
    <%= f.input :cost_per_night %>
    <%= f.submit %>
  <% end %>
</div>
<br>
