<div class="container mt-4">
  <div class="row">

    <div class="d-flex justify-content-between">
      <h1>GUITARS</h1>
      <% if user_signed_in? %>
        <p><%= link_to "Add Guitar", new_guitar_path, class: "btn btn-secondary" %></p>
      <% end %>
    </div>

    <%= form_with url: guitars_path, method: :get, class: "d-flex mb-3" do %>
      <%= text_field_tag :query,
        params[:query],
        id: "search",
        class: "form-control",
        placeholder: "Search..."
      %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %>

    <% @guitars.each do |guitar| %>
      <%= link_to guitar_path(guitar), class: "card-col col-lg-4 col-md-6 mb-4" do %>

        <div class="g-card selected">
          <div class="g-card-image">
            <% if guitar.photos.attached? %>
              <%= cl_image_tag guitar.photos.first.key %>
            <% else %>
              <p>no img available</p>
            <% end %>
          </div>
          <div class="g-txtbox">
            <h4 class="g-card-name"><%= guitar.name %></h4>
            <p class="g-card-rating"><%= guitar.average_rating %></p>
            <p class="g-card-type"><%= guitar.guitar_type %></p>
            <p class="g-card-price">£<%= guitar.cost_per_day %>0 per night</p>
          </div>
        </div>

      <% end %>
    <% end %>

  </div>
</div>
<%# MAP %>
<div class="container">
  <div class = "col-sm" style="width: 100%; height: 450px; border: 5px solid black"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
