<div class="container mt-4 mb-5" style="position:relative">
  <h1 class="mb-3">New Guitar</h1>
  <%= simple_form_for @guitar do |f| %>
    <%= f.input :name, label: false, placeholder: "Name" %>
    <%= f.input :caption, label: false, placeholder: "Caption" %>
    <%= f.input :description, label: false, placeholder: "Description" %>
    <%= f.input :cost_per_day, label: false, placeholder: "Cost Per Day" %>
    <%= f.input :guitar_type, label: false, placeholder: "Guitar Type" %>
    <%= f.label :photos, label: "Upload 3 photos", style: "color:#6c757c" %>
    <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, style: "color:#0e000000" } %>
    <%= f.submit class: "btn btn-dark", style: "position:absolute;right:0;margin:0 12px" %>
  <% end %>
</div>
<br>
