<div class="container">
  <h1>New Guitar</h1>
  <%= simple_form_for @guitar do |f| %>
    <%= f.input :name%>
    <%= f.input :address %>
    <%= f.input :summary %>
    <%= f.input :description %>
    <%= f.input :cost_per_night %>
    <%= f.submit %>
    <%= f.submit 'Save' %>
  <% end %>
</div>
<br>
