<div class="container mt-3" style="min-height: 60vh">
  <h1>My Guitars</h1>
  <% if @guitars.present? %>

    <div class="search-container">
      <%= form_with url: guitars_path, method: :get, class: "d-flex mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          id: "search",
          class: "form-control",
          placeholder: "Search..."
        %>
          <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
    </div>

    <% if @active_guitars.present? %>
    <h2>My Active Guitars</h2>
      <%= render 'guitars', guitars: @active_guitars %>
    <% end %>

    <% if @inactive_guitars.present? %>
    <h2>Inactive Guitars</h2>
      <%= render 'guitars', guitars: @inactive_guitars %>
    <% end %>

  <% else %>
    <div class="no-content">
      <p>You haven't added any guitars</p>
      <%= link_to "Add a Guitar", new_guitar_path %>
    </div>
  <% end %>
</div>
