<div class="container mt-4 mb-3">
  <%= link_to "Home", guitars_path %>
  <%= link_to "Edit", edit_guitar_path(@guitar) %>
  <hr>
  <h1><%= @guitar.name %></h1>
  <p>£<%= @guitar.cost_per_day %>0 per night</p>
  <% @guitar.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
  <% end %>
  <br>
  <p><%= @guitar.caption %></p>
  <p><%= @guitar.guitar_type %></p>

  <hr>
  <p><%= @guitar.description %></p>
  <p><%= @guitar.address %></p>
  <hr>
    <h3>Bookings</h3>
      <%= simple_form_for [@guitar, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit 'Save' %>
      <% end %>
  </div>
  <hr>
  <div class="container">
    <h3>Reviews</h3>
    <p><%= link_to "Write a review", new_guitar_review_path(@guitar) %></p>
    <% if @guitar.reviews.empty? %>
      <p>No reviews yet</p>
    <% else %>
      <% @guitar.reviews.each do |review| %>
        <div class="card p-2">
          <p><%= review.comment %></p>
          <p><%= review.rating %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

  <%= simple_form_for(@guitar, authenticity_token: true, method: :delete) do |f| %>
    <%= f.button :submit, "Delete" %>
  <% end %>
