<div class="container mt-3 mb-2  d-flex align-items-center justify-content-between">
  <div class="d-flex justify-content-between guitar-name">
    <h1><%= @guitar.name %></h1>

    <% if @guitar.user != current_user %>
      <% if @favourite %>
        <%= button_to guitar_favourite_path(@guitar, @favourite), method: :delete, class: "fav-btn" do %>
          <i class="bi bi-heart-fill"></i>
        <% end %>
      <% else %>
        <%= button_to guitar_favourites_path(@guitar), method: :post, class: "fav-btn" do %>
          <i class="bi bi-heart"></i>
        <% end %>
      <% end %>
    <% end %>

  </div>

  <div class="d-flex justify-content-center align-items-center">
    <% if @guitar.user == current_user %>
      <%= link_to "Edit", edit_guitar_path(@guitar), class: "btn btn-dark" %>
      <%= simple_form_for(@guitar, authenticity_token: true, method: :delete) do |f| %>
        <%= f.button :submit, "Delete", class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="img-box" data-controller="modal">
    <div class="img-1" data-action="click->modal#openGallery"><%= cl_image_tag @guitar.photos[0].key %></div>
    <div class="img-2" data-action="click->modal#openGallery"><%= cl_image_tag @guitar.photos[1].key %></div>
    <div class="img-3" data-action="click->modal#openGallery"><%= cl_image_tag @guitar.photos[2].key %></div>
    <%= render "guitars/gallery_modal" %>
  </div>

  <div class="info-box mt-4 mb-3">
    <div class="guitar-info">
      <!-- <p><%= @guitar.caption %></p> -->
      <div class="d-flex justify-content-between">
        <div>
          <h4>Renting from <%= @guitar.user.first_name %></h4>
          <p><%= @guitar.guitar_type %></p>
        </div>
        <%= button_to "Message", guitar_chatrooms_path(guitar_id: @guitar.id), method: :post, class: "btn btn-dark" %>
      </div>
      <hr>
      <p id="description"><%= @guitar.description %></p>
      <!-- <p><%= @user.address %></p> -->
    </div>

    <div class="bookings" data-controller="modal booking">
      <div class="d-flex justify-content-between">
        <p id="cost"><strong>£<%= @guitar.cost_per_day %></strong> day </p>
        <div class="d-flex">
          <p><%= @guitar.average_rating %></p>
          <!-- Will activate modal to show reviews -->
          <p id="reviews" data-action="click->modal#openReview"><%= @guitar.reviews.count %> reviews</p>
        </div>
      </div>

        <%= simple_form_for [@guitar, @booking] do |f| %>
          <div>
            <%= f.input :start_date, html5: true, input_html: {class: "datepicker"}, value: Date.today.to_s, data: { target: "form", action: "change->modal#bookingUpdate" }   %>
            <%= f.input :end_date, html5: true, input_html: {class: "datepicker"}, value: (Date.today + 1).to_s, data: { target: "form", action: "change->modal#bookingUpdate" }  %>
            <%= f.submit 'Book', class: "btn btn-dark" %>
          </div>
        <% end %>
        <div class="container mt-3" data-controller="booking">
          <p id="total-cost">Total: £<%= @guitar.cost_per_day %></p>
        </div>
    <%= render "reviews/review_modal" %>
    </div>
  </div>

  </div>

<div class="container">
  <hr>
  <h5> Pickup location <em>(pun intended)</em>...</h5>
  <%#= @user.address %>
</div>
<br>
<div class = "container col-sm mb-3" style="width: 100%; height: 480px; margin: 0 auto; border: 1px solid lightgrey"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if @more_guitars.present? %>
  <div class="container">
  <hr>
    <h5>More Guitars available from <%= @user.first_name %></h5>
    <%# user image avatar %>
    <br>
    <div class="row">
      <% @more_guitars.limit(3).each do |guitar| %>
        <%= link_to guitar_path(guitar), class: "col-md-4 col-sm-6 col-12" do %>

          <div class="g-card selected">
            <div class="g-card-image">
              <% if guitar.photos.attached? %>
                <%= cl_image_tag guitar.photos.first.key %>
              <% else %>
                <p>no img available</p>
              <% end %>
            </div>
            <div class="g-txtbox">
              <h6 class="g-card-name"><%= truncate(guitar.name, length: 27, seperator: ' ') %></h6>
              <p class="g-card-rating"><%= guitar.average_rating %></p>
              <p class="g-card-type"><%= guitar.guitar_type %></p>
              <p class="g-card-price">£<%= guitar.cost_per_day %>0 per night</p>
            </div>
          </div>

        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
