<div>
  <div class="d-flex justify-content-between p-2">
    <h3>Inbox</h3>
      <%= form_with url: chatrooms_path, method: :get, class: "d-flex mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          id: "search",
          class: "form-control",
          placeholder: "Search..."
        %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
  </div>

  <div class="inbox-container">
    <% if @chatrooms.present? %>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to guitar_chatroom_path(chatroom.guitar, chatroom) do %>

        <div class="inbox">
          <span class="user"><%= chatroom.guitar.user.first_name %></span>
          <span class="subject"><%= chatroom.guitar.name %>
            <span class="message"> - <%= chatroom.messages.last.content %></span>
          </span>
          <span class="date"><%= chatroom.latest_message %></span>
        </div>

      <% end %>
    <% end %>
    <% else %>
    <div class="no-content">
      <p>You have no messages</p>
    </div>
    <% end %>

  </div>
</div>
