<%# inbox %>
<div id="chatroom" class="mt-3 mb-5">

  <% @chatrooms.each do |chatroom| %>
    <%= link_to guitar_chatroom_path(chatroom.guitar, chatroom) do %>

      <div class="inbox">
        <span class="user"><strong><%= chatroom.guitar.user.first_name %></strong></span>
        <span class="subject"><strong><%= chatroom.guitar.name %></strong> -
          <%= chatroom.messages.last.content %></span>
        <%# created_at.strftime('%b %d, %Y %H:%M') %>
        <span class="date"><strong><%= chatroom.latest_message %></strong></span>
      </div>

    <% end %>
  <% end %>

</div>
