<div id="session" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div class="inbox-search">
    <h6><%= link_to "<< Inbox", chatrooms_path %></h6>
  </div>

  <div class="user-info">
    <h6><%= link_to "#{@chatroom.user2.first_name} - #{@chatroom.guitar.name}",
      guitar_path(@chatroom.guitar) %>
    </h6>
  </div>

  <div class="side">
    <%= render partial: 'messages_inbox' %>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= render partial: 'messages/form' %>

</div>
