<div id="favourite-guitars" class="container mt-4">
  <div class="row">

    <div class="d-flex justify-content-between mb-3">
      <h1>FAVOURITES</h1>
    </div>

    <% if @favourites.present? %>

    <div class="search-container">
      <%= form_with url: user_favourites_path, method: :get, class: "d-flex mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          id: "search",
          class: "form-control",
          placeholder: "Search..."
        %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
    </div>

    <%= render 'guitars/guitars', guitars: @favourites  %>

    <% else %>
      <div class="no-content">
        <p>You have no favourites yet</p>
        <%= link_to "Browse Guitars", guitars_path %>
      </div>
    <% end %>

  </div>
</div>
