<div id="landing" class="mt-5 mb-3">
  <h1>JOIN OUR GUITAR COMMUNITY</h1>
  <h2><%= link_to "Browse Guitars", guitars_path %></h2>
</div>

<div class="recent">
  <h5>Recently Added Guitars</h5>
  <br>
  <div class="row">
    <% @guitars.limit(3).each do |guitar| %>
      <%= link_to guitar_path(guitar), class: "card-col-4 col-lg-4 col-sm-4 mb-4" do %>
        <div class="g-card selected">
          <div class="g-card-image">
            <% if guitar.photos.attached? %>
              <%= cl_image_tag guitar.photos.first.key %>
            <% else %>
              <p>no img available</p>
            <% end %>
          </div>
          <div class="g-txtbox">
            <h6 class="g-card-name"><%= guitar.name %></h6>
            <p class="g-card-rating"><%= guitar.average_rating %></p>
            <p class="g-card-type"><%= guitar.guitar_type %></p>
            <%# <p class="g-card-type">= guitar.user.name</p> %>
            <p class="g-card-price">£<%= guitar.cost_per_day %> day</p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
</div>
